port: 1090
socks-port: 1080
allow-lan: false
mode: Rule
log-level: info
external-controller: 127.0.0.1:9090
cfw-latency-url: http://www.gstatic.com/generate_204
Proxy:
{%- block Proxy %}
{%- endblock %}
Proxy Group:
{%- block ProxyGroup %}
{%- endblock %}
Rule:
  # Custom Rules
  - DOMAIN-SUFFIX,12x.me,MYRULE
  - DOMAIN-SUFFIX,xjasonlyu.com,MYRULE
  # Reject List
{{ 'ADRULE'| s2c('https://ruleset.dev/surge3_reject', 'https://ruleset.dev/surge3_reject-tinygif') | fmt_seq('  - {}', '\n') }}
  # Media Services
{{ 'MEDIA' | s2c('https://ruleset.dev/surge3_stream_services') | fmt_seq('  - {}', '\n') }}
  # Apple Services
{{ 'APPLE' | s2c('https://ruleset.dev/surge3_apple_services') | fmt_seq('  - {}', '\n') }}
  # Global Proxy
{{ 'PROXY' | s2c('https://ruleset.dev/surge3_global_plus', 'https://ruleset.dev/surge3_global') | fmt_seq('  - {}', '\n') }}
  # China Sites
{{ 'CNRULE'| s2c('https://ruleset.dev/surge3_domestic') | fmt_seq('  - {}', '\n') }}
  # Private Network
  - DOMAIN-SUFFIX,local,DIRECT
  - IP-CIDR,127.0.0.0/8,DIRECT
  - IP-CIDR,172.16.0.0/12,DIRECT
  - IP-CIDR,192.168.0.0/16,DIRECT
  - IP-CIDR,10.0.0.0/8,DIRECT
  - IP-CIDR,100.64.0.0/10,DIRECT
  # GeoIP CN
  - GEOIP,CN,CNRULE
  # Final Rule
  - MATCH,PROXY
