{% extends '_clash.conf.j2' %}
{%- import '__macros__.j2' as macros with context -%}

{%- block proxy %}
{%- for proxy in macros.proxies %}
{{- macros.marshal_proxy(proxy, client='clash') }}
{%- endfor %}
{%- endblock %}

{%- block proxy_group %}
  - { name: PROXY, type: select, proxies: [{{ cfg.extras.names }}] }
  - { name: APPLE, type: select, proxies: [PROXY, DIRECT] }
  - { name: MEDIA, type: select, proxies: [PROXY, MANUAL] }
  - { name: ADRULE, type: select, proxies: [DIRECT, REJECT] }
  - { name: CNRULE, type: select, proxies: [DIRECT{% for proxy in proxies %}{% if proxy.node.iso == 'CN' %}, {{ proxy.node }}{% endif %}{% endfor %}] }
  - { name: MYRULE, type: select, proxies: [DIRECT, PROXY] }
{%- for policy in macros.policies %}
{{- macros.marshal_policy(policy, client='clash') }}
{%- endfor %}
{%- endblock %}
