{% extends '_surge.conf.j2' %}
{% import '__macros__.j2' as macros with context %}

{%- block Proxy %}
{%- for proxy in macros.proxies %}
{{ proxy | marshal_proxy | surge }}
{%- endfor %}
{%- endblock %}

{%- block ProxyGroup %}
PROXY = select, {{ cfg.extras.names }}
APPLE = select, PROXY, DIRECT
MEDIA = select, PROXY, MANUAL
ADRULE = select, DIRECT, REJECT, REJECT-TINYGIF
CNRULE = select, DIRECT{% for proxy in macros.proxies %}{% if proxy.node.iso == 'CN' %}, {{ proxy.node }}{% endif %}{% endfor %}
MYRULE = select, DIRECT, PROXY
{%- for policy in macros.policies %}
{{ policy | marshal_policy | surge }}
{%- endfor %}
{%- endblock %}
