[Unit]
Description=Flask Subscribe Server
After=network.target

[Service]
User=caddy
Group=caddy
WorkingDirectory=/usr/local/bin/subscribe/
ExecStart=/usr/local/bin/gunicorn -b localhost:9000 -e CONFIG=/etc/subscribe/config.json -w 3 --access-logfile - subscribe:app
Restart=always

[Install]
WantedBy=multi-user.target
