{% macro generate_proxy_group(proxies) %}
- { name: PROXY, type: select, proxies: [HK-AUTO, JP-AUTO, SG-AUTO, TW-AUTO, HK-PEER, JP-PEER, KR-PEER, SG-PEER, TW-PEER, US-PEER, MANUAL] }
- { name: APPLE, type: select, proxies: [PROXY, DIRECT] }
- { name: MEDIA, type: select, proxies: [PROXY, MANUAL] }
- { name: ADRULE, type: select, proxies: [DIRECT, REJECT] }
- { name: CNRULE, type: select, proxies: [DIRECT] }
- { name: DETOUR, type: select, proxies: [PROXY, DIRECT] }
- { name: MANUAL, type: select, proxies: [{{ proxies | filter_proxies | join(',') }}] }
- { name: HK-AUTO, type: url-test, proxies: [{{ proxies | filter_proxies("node.iso=='HK' and node.attr=='BGP'") | join(',') }}], url: "http://www.gstatic.com/generate_204", interval: 120 }
- { name: JP-AUTO, type: url-test, proxies: [{{ proxies | filter_proxies("node.iso=='JP' and node.attr=='BGP'") | join(',') }}], url: "http://www.gstatic.com/generate_204", interval: 120 }
- { name: SG-AUTO, type: url-test, proxies: [{{ proxies | filter_proxies("node.iso=='SG' and node.attr=='BGP'") | join(',') }}], url: "http://www.gstatic.com/generate_204", interval: 120 }
- { name: TW-AUTO, type: url-test, proxies: [{{ proxies | filter_proxies("node.iso=='TW' and node.attr=='BGP'") | join(',') }}], url: "http://www.gstatic.com/generate_204", interval: 120 }
- { name: HK-PEER, type: select, proxies: [{{ proxies | filter_proxies("node.iso=='HK'") | join(',') }}] }
- { name: JP-PEER, type: select, proxies: [{{ proxies | filter_proxies("node.iso=='JP'") | join(',') }}] }
- { name: KR-PEER, type: select, proxies: [{{ proxies | filter_proxies("node.iso=='KR'") | join(',') }}] }
- { name: SG-PEER, type: select, proxies: [{{ proxies | filter_proxies("node.iso=='SG'") | join(',') }}] }
- { name: TW-PEER, type: select, proxies: [{{ proxies | filter_proxies("node.iso=='TW'") | join(',') }}] }
- { name: US-PEER, type: select, proxies: [{{ proxies | filter_proxies("node.iso=='US'") | join(',') }}] }
{% endmacro %}
