{%- block BaseSurgeTemplate -%}
#!MANAGED-CONFIG {{ request.url }} interval={{ cfg.interval|d(259200) }} strict=true

[General]
loglevel = warning
http-listen = 127.0.0.1:1090
socks5-listen = 127.0.0.1:1080
dns-server = 1.2.4.8, 223.5.5.5, 119.29.29.29, system
skip-proxy = 127.0.0.0/8, 192.168.0.0/16, 172.16.0.0/12, 10.0.0.0/8, 169.254.0.0/16, 100.64.0.0/10, 198.18.0.0/15, 255.255.255.255/32, 2.2.2.2/32, e.crashlytics.com, captive.apple.com
# Settings
ipv6 = false
replica = false
bypass-system = true
allow-wifi-access = false
exclude-simple-hostnames = true
show-error-page-for-reject = true
# Network Test
internet-test-url = http://www.aliyun.com/
proxy-test-url = http://www.gstatic.com/generate_204
test-timeout = 5
# Experimental
network-framework = true
# macOS Only
enhanced-mode-by-rule = false

[Proxy]
{%- block Proxy %}
{%- endblock %}

[Proxy Group]
{%- block ProxyGroup %}
{%- endblock %}

[Rule]
# Custom Rules
RULE-SET,RULE/REJECT.rule,REJECT
RULE-SET,RULE/DIRECT.rule,DIRECT
RULE-SET,RULE/PROXY.rule,PROXY
RULE-SET,RULE/MINE.rule,MYRULE
# Reject List
RULE-SET,https://ruleset.dev/surge3_reject,ADRULE
RULE-SET,https://ruleset.dev/surge3_reject-tinygif,ADRULE
# Media Services
RULE-SET,https://ruleset.dev/surge3_stream_services,MEDIA
# Apple Services
RULE-SET,https://ruleset.dev/surge3_apple_services,APPLE
# Global Proxy
RULE-SET,https://ruleset.dev/surge3_global_plus,PROXY
RULE-SET,https://ruleset.dev/surge3_global,PROXY
# China Sites
RULE-SET,https://ruleset.dev/surge3_domestic,CNRULE
# Private Network
RULE-SET,LAN,DIRECT
# GeoIP CN
GEOIP,CN,CNRULE
# Final Rule
FINAL,DETOUR,dns-failed

[Host]
tmall.com = server:223.5.5.5
aliyun.com = server:223.5.5.5
taobao.com = server:223.5.5.5
*.tmall.com = server:223.5.5.5
*.aliyun.com = server:223.5.5.5
*.taobao.com = server:223.5.5.5
*.alicdn.com = server:223.5.5.5
jd.com = server:119.29.29.29
mi.com = server:119.29.29.29
126.com = server:119.29.29.29
163.com = server:119.29.29.29
weixin.com = server:119.29.29.29
xiaomi.com = server:119.29.29.29
bilibili.com = server:119.29.29.29
*.jd.com = server:119.29.29.29
*.mi.com = server:119.29.29.29
*.qq.com = server:119.29.29.29
*.126.com = server:119.29.29.29
*.126.net = server:119.29.29.29
*.127.net = server:119.29.29.29
*.163.com = server:119.29.29.29
*.weixin.com = server:119.29.29.29
*.xiaomi.com = server:119.29.29.29
*.netease.com = server:119.29.29.29
*.tencent.com = server:119.29.29.29
*.bilibili.com = server:119.29.29.29

[URL Rewrite]
^https?:\/\/(www.)?(g|google)\.cn https://www.google.com 302
{% endblock %}
